.button
  font-size rem(13px)
  letter-spacing rem(1px)
  border none
  border-radius 50px
  text-transform uppercase
  cursor pointer
  white-space nowrap
  font-family $roboto

.white
  background $white
  color $black

.black
  background $black
  color $white

.medium
  padding 5px 20px

.large
  padding 10px 20px

.full
  width 100%
