.input-group
  position relative
  padding 0
  border none
  overflow visible
  margin-bottom 10px

  &--large
    width 100%

  &--medium
    width 50%

  +below('m')
    width 100%

  &__input
    width 100%
    padding 0 5px
    border none
    border-radius 0
    height 40px
    box-shadow none
    border-bottom 1px solid $cornflower
    outline none
    cursor text
    background transparent
    color $gray
    transition 0.4s ease
    font-size rem(14px)

    &:focus ~ .input-group__label,
    &:valid ~ .input-group__label
      top -12px
      font-size rem(12px)

  &__label
    position absolute
    left 5px
    top 12px
    color $gray
    pointer-events none
    transition 0.2s ease-out
    font-family $roboto
    font-size rem(14px)
