.loader
  width 100%
  height calc(100vh - 50px)
  background alpha($black, 0.8)
  position relative
  z-index 1200
  display flex
  align-items center
  justify-content center
  flex-direction column

  &__icon
    color $white
    font-size rem(35px)
    margin-bottom 20px
    transform rotate(360deg)
    animation rotation 1s linear infinite

  &__description
    color $white
    font-size rem(16px)
