.spot-marker
  &__modal
    width 100%
    height calc(100vh - 50px)
    position absolute
    left 0
    top 50px
    background $white
    display block

    &--hidden
      display none

  &__name
    color red
