.new-spot
  position relative
  width 100%
  height calc(100vh - 50px)

  &__content
    width 100%
    height calc(100vh - 50px)
    z-index 600
    padding-top 40px
    position absolute
    top 0
    left 0
    background $white

  &__container
    @extends .container

  &__form
    &__button
      margin-top 20px

  &__label
    margin-top 20px
    margin-bottom 5px
    font-size rem(17px)
    font-weight 400
    color $black

  &__location
    position absolute
    left 0
    top 0

  &__title
    margin-bottom 20px
    color $black

  &__button
    position absolute
    bottom 20px
    z-index 500
    margin 0 10px
    width calc(100% - 20px)

  &__marker
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    z-index 500
    font-size rem(25px)
