.landing
  .home
    width 100%
    height 100vh
    background url('../images/2.jpg')
    background-position center
    background-size cover
    background-repeat no-repeat

    &__header
      @extends .container
      display flex
      justify-content space-between
      align-items center
      padding-top 20px

    &__logo
      max-width rem(80px)

    &__body
      @extends .container
      display flex
      flex-direction column
      justify-content center
      height calc(100% - 100px)

    &__title
      max-width 600px
      font-weight 700
      color $white
      font-size rem(54px)
      letter-spacing rem(1px)

      +below('m')
        font-size rem(40px)

  .spots
    @extends .container
    width 100%
    height 100vh
    display flex

    +below('m')
      flex-direction column-reverse
      justify-content flex-end

    &__image,
    &__explanation
      max-width 50%
      margin-top 50px
      margin-bottom 50px
      width 100%

      +below('m')
        max-width 100%
        margin-bottom 0

    &__image
      background-image url("../images/4.jpg")
      background-size cover
      background-position center
      margin-right 50px

      +below('m')
        margin-right 0
        height 100%

    &__explanation
      margin-left 50px

      +below('m')
        margin-left 0

    &__title
      font-size rem(35px)
      color $black
      margin-bottom 10px

      +below('m')
        font-size rem(28px)

    &__description
      color $black
      margin-bottom 20px

  .socials
    background $black
    max-width 1024px
    width calc(100% - 30px)
    margin 0 auto
    margin-top 50px
    height 20vh

    +below('m')
      margin 0 15px

    &__title
      font-size rem(35px)
      color $white
      margin-bottom 10px

      +below('m')
        font-size rem(28px)

    &__icon
      color $white
