@import 'core/fonts'
@import 'core/breakpoints'
@import 'core/functions'
@import 'core/colors'
@import 'core/utils'
@import 'core/reset'
@import 'core/icons'

@import 'components/input'
@import 'components/checkbox'
@import 'components/radio'
@import 'components/button'
@import 'components/loader'

@import 'pages/main'
@import 'pages/menu'
@import 'pages/landing'
@import 'pages/settings'

@import 'pages/spots/new'
@import 'pages/spots/list'
@import 'pages/spots/analyze'
@import 'pages/spots/marker'
