.container {
  display: block;
  font-size: 0;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 0;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}
.hidden {
  display: none !important;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong,
input,
select,
label {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
.button-default,
.modal .modal-button,
.register .register-modal-button,
.register .register-button {
  color: #fff;
  font-size: 0.875rem;
  border-radius: 50px;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  cursor: pointer;
  background: #212121;
  border: none;
  padding: 10px 20px;
}
.button-default-full,
.register .register-modal-button,
.register .register-button {
  width: 100%;
  display: block;
}
.modal {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
.modal .modal-background {
  width: 100%;
  min-height: 100%;
  background: rgba(10,10,10,0.86);
  position: absolute;
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  background: #fff;
  padding: 1.25rem;
  box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
  border-radius: 0.3125rem;
}
.modal .modal-title {
  color: #212121;
  font-size: 1.4375rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.modal .modal-description {
  color: #212121;
  font-size: 0.9375rem;
  margin-bottom: 30px;
}
.modal .modal-icon {
  margin-bottom: 20px;
  font-size: 5rem;
}
.modal .modal-icon-success {
  color: #a5dc86;
}
.modal .modal-icon-error {
  color: #f27474;
}
.modal .modal-button {
  width: 20%;
  margin: 0 auto;
  display: block;
}
.header {
  background: #212121;
  width: 100%;
  position: relative;
}
.header .header-icon,
.header .header-title {
  display: inline-block;
  vertical-align: middle;
}
.header .header-icon {
  color: #fff;
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 2.1875rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header-title {
  color: #fff;
  font-weight: 100;
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
  line-height: 50px;
}
.main {
  width: 100%;
  top: 50px;
}
.header-menu-open,
.main-menu-open {
  position: fixed;
  left: 280px;
}
@media only screen and (max-width: 768px) {
  .header-menu-open,
  .main-menu-open {
    left: 70%;
  }
}
.menu {
  background: #212121;
  position: fixed;
  z-index: 20;
  min-height: 100%;
  width: 100%;
  max-width: 280px;
}
@media only screen and (max-width: 768px) {
  .menu {
    max-width: 70%;
  }
}
.menu .menu-item {
  text-align: left;
}
.menu .menu-item-icon,
.menu .menu-item-title {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
.menu .menu-item {
  cursor: pointer;
  margin-top: 35px;
  margin-left: 20px;
}
.menu .menu-item-icon {
  font-size: 1.75rem;
  width: 15%;
  text-align: left;
}
.menu .menu-item-title {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8125rem;
}
.menu .menu-user {
  margin-top: 35px;
  margin-left: 20px;
}
.menu .menu-user-photo,
.menu .menu-user-info {
  display: inline-block;
  vertical-align: middle;
}
.menu .menu-user-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.menu .menu-user-name,
.menu .menu-user-location {
  color: #fff;
}
.menu .menu-user-name {
  font-size: 1rem;
  font-weight: 300;
}
.menu .menu-user-location {
  font-size: 0.75rem;
}
.field-group {
  position: relative;
  padding: 0;
  border: none;
  overflow: visible;
}
.field-group .field-text {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0 5px 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #212121;
  font-size: 120%;
  outline: none;
  cursor: text;
  background: transparent;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}
.field-group .field-text:focus ~ .field-text-label,
.field-group .field-text:valid ~ .field-text-label {
  transform: scale(0.6);
}
.field-group .field-text-label {
  position: absolute;
  top: 10px;
  font-size: 120%;
  color: #212121;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
  left: 0;
}
.field-group .field-checkbox,
.field-group .field-radio {
  display: none;
}
.field-group .field-checkbox:checked ~ .field-radio-label,
.field-group .field-radio:checked ~ .field-radio-label,
.field-group .field-checkbox:checked ~ .field-checkbox-label,
.field-group .field-radio:checked ~ .field-checkbox-label {
  color: #212121;
}
.field-group .field-checkbox:checked ~ .field-radio-label .field-radio-label-icon,
.field-group .field-radio:checked ~ .field-radio-label .field-radio-label-icon,
.field-group .field-checkbox:checked ~ .field-checkbox-label .field-checkbox-label-icon,
.field-group .field-radio:checked ~ .field-checkbox-label .field-checkbox-label-icon {
  color: #212121;
}
.field-group .field-checkbox-label,
.field-group .field-radio-label {
  border-bottom: 1px solid #c8c7cc;
  width: 100%;
  display: block;
  padding: 10px 0;
  text-align: left;
  position: relative;
  color: #c8c7cc;
}
.field-group .field-radio-label-icon,
.field-group .field-checkbox-label-icon {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 10px;
  color: #fff;
}
#login {
  text-align: center;
}
#login .login-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  background-size: cover;
}
#login .login-container {
  width: 100%;
  padding: 0 45px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  #login .login-container {
    padding: 0 25px;
  }
}
#login .login-logo {
  display: block;
  margin-bottom: 20px;
}
#login .login-logo-slogan {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  font-weight: 100;
  display: block;
}
#login .login-button {
  color: #fff;
  font-size: 0.875rem;
  border-radius: 50px;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 20px;
  margin-top: 80px;
  cursor: pointer;
  background: #212121;
  border: none;
}
#login .login-button-icon {
  font-size: 1rem;
  color: #fff;
  float: right;
  display: inline-block;
  vertical-align: middle;
}
#find .find-map {
  height: calc(100vh - 50px);
}
.register {
  text-align: center;
  position: relative;
  height: calc(100vh - 50px);
}
.register .register-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8125rem;
  color: #212121;
  z-index: 5;
}
.register .register-button {
  z-index: 5;
  width: 90%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 80px;
}
.register .register-map {
  height: 100%;
}
.register .register-modal {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 15px;
}
.register .register-modal-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.25rem;
  color: #212121;
  text-align: left;
  font-weight: 500;
}
.register .register-modal-subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1rem;
  color: #212121;
  text-align: left;
  font-weight: 500;
}
.register .register-modal-button {
  margin-top: 30px;
}
