#login
  text-align center

  .login-background
    position fixed
    top 50%
    left 50%
    min-width 100%
    min-height 100%
    width auto
    height auto
    z-index -100
    transform translate(-50%, -50%)
    background-size cover

  .login-container
    width 100%
    padding 0 45px
    top 50%
    left 50%
    position absolute
    transform translate(-50%, -50%)

    +below('m')
      padding 0 25px

  .login-logo
    display block
    margin-bottom 20px

  .login-logo-slogan
    color $white
    font-size rem(16px)
    letter-spacing rem(1px)
    font-weight 100
    display block

  .login-button
    color $white
    font-size rem(14px)
    border-radius 50px
    font-weight 400
    letter-spacing rem(1px)
    text-transform uppercase
    width 100%
    padding 10px 20px
    margin-top 80px
    cursor pointer
    background $lush
    border none

  .login-button-icon
    font-size rem(16px)
    color $white
    float right
    display inline-block
    vertical-align middle
