.register
  text-align center
  position relative
  height calc(100vh - 50px)

  .register-marker
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    font-size rem(45px)
    color $shaft
    z-index 5

  .register-modal-button
    @extends .button-default-full

  .register-button
    @extends .button-default
    z-index 5
    width calc(100% - 30px)
    position absolute
    bottom 50px
    left 50%
    transform translateX(-50%)
    margin-top 80px

  .register-map
    height 100%

  .register-modal
    width 100%
    height 100%
    background $white
    position absolute
    top 0
    left 0
    z-index 10

  .register-modal-title
    margin-top 20px
    margin-bottom 30px
    font-size rem(20px)
    color $shaft
    text-align left
    font-weight 500

  .register-modal-subtitle
    margin-top 20px
    margin-bottom 30px
    font-size rem(16px)
    color $shaft
    text-align left
    font-weight 500

  .register-modal-button
    margin-top 30px
