.settings
  .settings-title
    margin-top 20px
    margin-bottom 30px
    font-size rem(20px)
    color $shaft
    text-align left
    font-weight 500

  .settings-subtitle
    margin-top 20px
    margin-bottom 30px
    font-size rem(16px)
    color $shaft
    text-align left
    font-weight 500

  .settings-button
    margin-top 30px
    @extends .button-default
    @extends .button-default-full
