.header
  background $shaft
  width 100%
  position relative

  .header-icon,
  .header-title
    display inline-block
    vertical-align middle

  .header-icon
    color $white
    position absolute
    left 15px
    top 50%
    font-size rem(35px)
    transform translateY(-50%)
    cursor pointer

  .header-title
    color $white
    font-weight 100
    font-size rem(18px)
    width 100%
    text-align center
    line-height 50px
