.main
  width 100%
  top 50px

.header-menu-open,
.main-menu-open
  position fixed
  left 280px

  +below('m')
    left 70%

.menu
  background $shaft
  position fixed
  z-index 20
  min-height 100%
  width 100%
  max-width 280px

  +below('m')
    max-width 70%

  .menu-item
    text-align left

  .menu-item-icon,
  .menu-item-title
    color $white
    display inline-block
    vertical-align middle

  .menu-item
    cursor pointer
    margin-top 35px

  .menu-item-icon
    font-size rem(25px)
    width 25%
    text-align center

  .menu-item-title
    text-align left
    text-transform uppercase
    font-weight 400
    font-size rem(13px)
