.button-default
  color $white
  font-size rem(14px)
  border-radius 50px
  font-weight 400
  letter-spacing rem(1px)
  text-transform uppercase
  cursor pointer
  background $shaft
  border none
  padding 10px 20px

.button-default-full
  width 100%
  display block
